body {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    height: 99%;
    justify-content: center;
}

#textbox {
    background-color: #000000;
    width: 40%;
    /* max-width: ; */
    min-height: 120px;
    height: 150px;
    overflow: scroll;
    scrollbar-width: none;
    resize: both;
    text-shadow: 10px;
    border-radius: 10px;
    padding: 5px;
    /*box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.742);*/
    box-shadow: 0 70px 63px -60px #000000;
    min-width: 200px;
    transition: transform 0.2s;
    position: relative;
}

/*
  #textbox:hover {
    transform: scale(1.2);
  } */
h3 {
    color: white;
    border: 2px solid red;
    width: fit-content;
    border-radius: 20px;
    padding: 2px;
    font-family: 'poppins';
    background-color: #000000;
    margin: 3px 0px 0px 5px;
    z-index: 3;
    font-size: 8px;
}

#img_container {
    background-image: url('bg4.png');
    height: 110%;
    width: 30%;
    background-size: cover;
    opacity: 1;
    margin: 0px 20px 0px -10px;
    width: 100px;
    position: relative;
    z-index: 2;
}

#name_image {
    justify-content: space-around;
    display: flex;
    height: 100px;

    z-index: 1;
    background-color: #000000;
}

h5 {
    background-color: transparent;
    color: white;
    z-index: 5;
    width: fit-content;
    margin: 4px 0px 0px 0px;

}

p {
    color: #5af856;
    font-family: 'Courier New';
}

#hire {
    display: flex;
    background-color: #000000;
    flex-wrap: wrap;
    width: 100%;
    height: 40%;
}

button {
    border: none;
    margin: 2px 5px 0px 0px;
    border-radius: 11px;
    font-weight: 500;
    background-color: #FFC300;
    height: 45%;
    font-family: 'poppins';
    transition: transform 0.3s;
    font-size: 9px;
}

button:hover {
    transform: scale(1.2);
}

#bottom_block {
    height: 100px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: #000000;
    align-content: center;
}

#box {
    align-self: center;
    height: 100%;
    width: 49%;
    border-right: 2px solid white;
    color: white;
    scrollbar-width: none;
    background-color: #000000;
}

#blog_text {
    margin: 45px 0px 0px 0px;
    color: white;
    padding: 0px;
    text-decoration: 2px underline solid white;
}

/*#underline {
    width: 50px;
    height: 2px;
    background-color: white;
    margin: 0px 0px 0px 50px;
  }*/
#blog_box {
    margin: 10px 0px 0px 0px;
    background-color: #000000;
    width: 100%;
    height: 30vh;
    border-radius: 10px;
    border: 2px solid #000000;
    justify-content: left;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    scrollbar-width: none;
    justify-content: flex-start;
}

#blog_individual {

    background-color: #001D3D;
    width: 95%;
    height: 60px;
    max-width: 250px;
    margin: 5px 5px 0px 10px;
    border-radius: 6px;
    padding: 1px;
    display: flex;
    overflow: hidden;
    min-width: 50px;
    align-items: center;
}

#blog_individual_heading {
    color: white;
    margin: -24px 0px 0px 2px;
    width: fit-content;
    /* font-weight: 600; */
    padding: 1px;
    align-self: top;
    overflow: hidden;
    display: flex;
    border-radius: 9px;

}

#blog_individual_body {
    color: white;
    width: 100%;
    height: 30%;
    margin: 0px 0px 0px 2px;
    overflow: scroll;
}

#blog_text_body {
    height: 10%;
    width: 85%;


}

#blog_img {
    height: 90%;
    width: 50px;
    background-image: url('bg4.png');
    background-size: cover;
    background-color: brown;
    max-width: 100%;
    margin: 0px 2px 0px 0px;
    position: relative;
    right: 0;

}

a {
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman';
}

footer {
    height: 10%;
    max-height: 50px;
    min-height: 20px;
    background-color: #333232;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 0px 0px;
    position: relative;
    bottom: 0;
    width: 100%;
    z-index: 6;
    left: 0;
}

#project_box_list {
    width: 100%;
    height: 83%;
    background-color: black;
    margin: 15px 0px 0px 0px;
    display: flex;
    justify-content: space-around;
    padding: 2px 0px 0px 0px;
    overflow: auto;
    scrollbar-width: none;
    flex-wrap: wrap;
}

#individual_box {
    width: 40%;
    max-width: 100px;
    box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.742);
    height: 40%;
    /* border: 1px solid rgb(255, 255, 255); */
    margin: 0px 0px 10px 5px;
    border-radius: 6px;
    background: #000000;
    padding: 4px;
}

#project_box_heading {
    overflow: hidden;
    text-decoration: none;
    border-radius: 6px;
    color: rgb(255, 255, 255);
}

#project_box_body {

    color: rgb(255, 255, 255);
    overflow: hidden;
}

#icon_box {
    display: inline;
    font-size: 20px;
    margin: 4px 10px 0px 0px;
}

i {
    margin: 10px;
    transition: transform 0.3s;
}

i:hover {
    transform: scale(1.1);
}

/*#textbox:not(:hover) #img_container {
opacity: 0; /* Adjust opacity value as needed
}*/
